<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    <form action="{{url_for('compras')}}" method="post">
	Escolha os alimentos:<br>
	<input type="checkbox" name="itens" value="Arroz">Arroz<br>
	<input type="checkbox" name="itens" value="Feijão">Feijão<br>
	<input type="checkbox" name="itens" value="Carne">Carne<br>
	<input type="checkbox" name="itens" value="Peixe">Peixe<br>
	<input type="checkbox" name="itens" value="Frango">Frango<br>
	<button type="submit">Enviar</button>
</form>
</body>
</html>