<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aula SQLalchemy</title>
  </head>
  <body>
    {% block conteudo %}
    <h1>Lista de Tarefas do Dia</h1>
    
    <form action="{{url_for('create_tarefa')}}" method="POST">
      <input
        type="text"
        name="descricao"
        placeholder="Nova tarefa"
        required
      /> <br>

      <select name="prioridade" >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
        
      <button type="submit">Adicionar</button>
    </form>
    
    <h2>Tarefas atuais:</h2>
    <ul>
      {% for t in tarefas %}
         <li>{{t.descricao}} - {{t.prioridade}}
         <a href="{{url_for('delete_tarefa')}}">Excluir</a>
         </li>
      {% endfor %}
    </ul>
  </body>
</html>